* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: cornsilk;
}

/* header CSS */
header {
    padding: 0.5%;   
    font-family: "Poppins";
    background-color: #012c1cee;
    color: #eac100;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

header li {
    display: inline;
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
}

header h2 {
    font-size: 50px;
    font-weight: 900;
}

a:link {
    color:#eac100;
    text-decoration: none;
}

a:visited {
    color: #eac100;
    text-decoration: none;
}

a:hover {
    color:#eac100;
    text-decoration: none;
}

a:active {
    color: #eac100;
    text-decoration: none;
}

/* About Me CSS */

.aboutme {
    background-color: #bbe4e9;
    padding: 5%;
    margin: 5%;
    outline-style: solid;
    outline-width: thin;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutme-pre {
    font-family: "DM Sans";
    outline-style: solid;
    outline-width: thin;
    padding: 5%;
    margin: 5%;
    float: right;
    flex: 1 1 auto;

}
.aboutme-sprinkles {
    width: 33%;
    max-width: 33%;
    outline-style: solid;
    outline-width: thin;
}