* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --black: #141010;
    --cream: #eaded0; 
    --pink: #eeaeb3; 
    --orange: #e35635; 
}

body {
    background-color: var(--black);
}

/* header CSS */
header {
    padding: 0.5%;   
    font-family: "Poppins";
    background-color: var(--black);
    color: var(--cream);
    outline-style: solid;
    outline-width: thick;
    outline-color: var(--orange);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

header li {
    display: inline;
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
}

header h2 {
    font-size: 50px;
    font-weight: 900;
}

a:link {
    color: var(--cream);
    text-decoration: none;
}

a:visited {
    color: var(--cream);
    text-decoration: none;
}

a:hover {
    color: var(--cream);
    text-decoration: none;
}

a:active {
    color: var(--cream);
    text-decoration: none;
}

/* About Me CSS */

.aboutme {
    background-color: var(--black);
    padding: 2%;
    margin: 4%;
    outline-style: solid;
    outline-width: thick;
    outline-color: var(--orange);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutme-pre {
    font-family: "DM Sans";
    color: var(--cream);
    outline-style: solid;
    outline-width: thick;
    outline-color: var(--cream);
    padding: 5%;
    margin: 5%;
    float: right;
    flex: 1 1 auto;

}
.aboutme-sprinkles {
    width: 33%;
    max-width: 33%;
    outline-style: solid;
    outline-width: thick;
    outline-offset: 10px;
    outline-color: var(--cream);
}

.latest { 
    padding: 2%;
    margin: 4%;
    outline-style: solid;
    outline-width: thick;
    outline-color: var(--pink);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.latest-p {
    font-family: "Poppins";
    font-size: 40px;
    font-weight: 900;
    background-color: var(--black) ;
    color: var(--cream);
    text-align: center;
    outline-style: solid;
    outline-width: thick;
    outline-color: var(--orange);
    padding: 2%;
    margin: 4%;
    float: right;
    flex: 1 1 auto;
    display: inline-flex;

}

.latest-img {
    width: 33%;
    max-width: 33%; 
    outline-style: solid;
    outline-width: thick;
    outline-offset: 10px;
    outline-color: var(--black);

}

.mywork { 
    background-color: var(--orange);
    padding: 2%;
    margin: 4%;
    outline-style: solid;
    outline-width: thick;
    outline-color: var(--cream);
    display: flex;
    justify-content: space-evenly;

}

.mywork-img {
    width: 28%;
    max-width: 28%;
    outline-style: solid;
    outline-width: thick;
    outline-offset: 10px;
    outline-color: var(--black)
}

.contact {
    padding: 0.5%;   
    font-family: "Poppins";
    background-color: var(--black);
    color: var(--cream);
    outline-style: solid;
    outline-width: thick;
    outline-color: var(--orange);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.contact li {
    display: inline;
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
}

.contact h3 {
    font-size: 50px;
    font-weight: 900;
}